<p>reset-password works!</p>
<div class="row">
    <div class="col-md-12">Col-12
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <th scope="col"><a routerLink="/settings">Profile Settings</a></th>
                    <th scope="col" style="color: red;">Change Password</th>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row" colspan="2">
                            <div class="form-group">
                                <input type="password" placeholder="New Password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                                <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" colspan="2">
                            <div class="form-group">
                                <input type="password" placeholder="Match Password" formControlName="matchPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.matchPassword.errors }" />
                                <div *ngIf="submitted && f.matchPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.matchPassword.errors.required">Password must match</div>
                                    <div *ngIf="f.matchPassword.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" colspan="2">
                            <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                        SAVE
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>