<p>forgot-password works!</p>
<div class="row">
    <div class="col-12">Col-12
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <table class="table table-bordered">
                <tr class="table-dark">
                    <td scope="col">Forgot Password</td>
                </tr>
                <tbody>
                    <tr>
                        <td scope="row">
                            <div class="form-group">
                                <!-- <label for="email">Email</label> -->
                                <input type="text" placeholder="Email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <div class="form-group">
                                <!-- <label for="lastName">Date of Birth</label> -->
                                <input type="text" placeholder="Date of Birth" formControlName="DateOfBirth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.DateOfBirth.errors }" />
                                <div *ngIf="submitted && f.DateOfBirth.errors" class="invalid-feedback">
                                    <div *ngIf="f.DateOfBirth.errors.required">Date of Birth is required</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary float-right">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    GO
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>