/* You can add global styles to this file, and also import other style files */


/* Navigation link styles */


/* nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

nav a:visited,
a:link {
    color: #FC0185;
}

nav a:hover {
    color: #012AFD;
} */

nav a.active {
    color: #FD0000;
}