<p>My home works!</p>

<div class="row">
    <div class="col-md-4 pull-right pull-left">Col-4

        <div class="card row text-center">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">
                            <img id="friends" src="../assets/friend-02.png" width="140" height="140" alt="friend 2">
                            <img [src]="currentUser.avatar_url">
                            <figcaption style="text-align: center;">{{ currentUser.firstName }}</figcaption>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">xx connections</th>
                    </tr>
                    <tr>
                        <th scope="row">xx Posts</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-8 ">Col-8
        <div class=" mr-md-2">

            <div class="container align-items-end">
                <div class="row">
                    <div class="col-md-8 offset-md-3">
                        <div class="form-group ">
                            <input type="file" name="image" (change)="fileProgress($event)" />
                        </div>
                        <div *ngIf="fileUploadProgress">
                            Upload progress: {{ fileUploadProgress }}
                        </div>
                        <div class="image-preview mb-3" *ngIf="previewUrl">
                            <img [src]="previewUrl" height="300" />
                        </div>

                        <div class="mb-3" *ngIf="uploadedFilePath">
                            {{uploadedFilePath}}
                        </div>
                        <div class="field mb-3">
                            <!-- <img [src]="previewUrl" height="300" />-->
                            <!-- <textarea name="message" placeholder="Existing Posts or Pics" cols="30" rows="10" [formControl]="textArea"></textarea> -->
                            <!-- <mat-form-field>

                            </mat-form-field> -->
                            <textarea name="message" placeholder="Existing Posts or Pics" cols="30" rows="10"></textarea>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" (click)="onSubmit()">Submit</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>